Supported RFC list

Hello. Thank you very much for your work.

Can you please state a list of RFC definitions that are supported by the module? I see at least RFC
5891 mentioned in tests.

I am working on JSON::Schema implementation right now and your module looks like it supports:
1)email as in RFC 5322(section 3.4.1).
2)idn-email(?) as in RFC 6531.
3)hostname as in 1034(section 3.1) with Punycode allowed(?).
4)idn-hostname(?) as in RFC 5890(section 2.3.2.3) with just `hostname` as a subset.
How good the support of those right now is? I am seeing some TODOs here and there in sources.

I am willing to help with this module if needed in order to support this range of formats.

Hello. Thanks for the feedback.
I can't guarantee that it supports them 100%. Tests are welcome. I will add more tests later and go through the TODO list.

It supports all the RFC's mentioned.